{% extends "base.html" %}

{% block title %}

Moviefy - {{ _('Register') }}

{% endblock %}

{% block nav %}
{% include "nav.html" %}
{% endblock %}

{% block content %}
<div id="register" class="d-flex align-content-center p-5 w-100 mb-5">
    <form class="d-flex flex-column m-auto p-3 shadow-lg border rounded w-100" action="{{ url_for('auth.register') }}" method="POST">
        <div class="text-center">
            <h1>{{ _('Register') }}</h1>
            <p class="text-secondary">{{ _('Please sign up') }}</p>

            <div class="input-group m-auto w-50 mb-3 mt-3">
                <span class="input-group-text"></span>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGroup1" name="username" placeholder="{{ _('Username') }}" required>
                  <label for="floatingInputGroup1">{{ _('Username') }}</label>
                </div>
            </div>

            <div class="input-group m-auto w-50 mb-3">
                <span class="input-group-text"></span>
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInputGroup2" name="email" placeholder="{{ _('Email') }}" required>
                  <label for="floatingInputGroup2">{{ _('Email') }}</label>
                </div>
            </div>


            <div class="input-group m-auto w-50 mb-3">
                <span class="input-group-text"></span>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingInputGroup3" name="password" placeholder="{{ _('Password') }}" required>
                  <label for="floatingInputGroup3">{{ _('Password') }}</label>
                </div>
            </div>
            
            <div class="text-center mt-5">
                <p class="text-white bg-danger rounded w-50 m-auto">
                    {{ err }}
                </p>
            </div>

            <div class="text-center mt-5">
                <div class="d-flex justify-content-center input-group mb-3">
                    <span class="mt-0 input-group-text">
                        <input type="checkbox" required>
                    </span>
                    <span class="input-group-text">{{ _('You accept') }}&nbsp;<a href="#">{{ _('ToS') }}</a>.</span>
                  </div>
                <button type="submit" class="btn btn-danger mt-3">{{ _('Sign up') }}</button>
            </div>
        </div>

        <div class="text-center mt-5">
            <p>{{ _('Already have an account') }} <a href="{{ url_for('auth.login_') }}" class="btn btn-success ms-3">{{
                    _('Login then') }}</a></p>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}