/* VARS */

:root {
    --background-parallax: url('');
}

/* NAV */

#logo {
    width: 100px;
}

/* HOMEPAGE */

.circle {
    clip-path: circle();
}

.w-70p {
    width: 70px !important;
}

.h-m500p {
    min-height: 500px;
    height: calc(100vh/2.5);
}

.h-m600p {
    min-height: 600px;
    height: auto;
}

.parallax {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.parallax:first-of-type {
    --background-parallax: url('../../static/img/popcorn.jpg');
    background: var(--background-parallax) center / cover no-repeat fixed;
}

.parallax:last-of-type {
    --background-parallax: url('../../static/img/theater.jpg');
    background: var(--background-parallax) center / cover no-repeat fixed;
}

/* CATALOG */

#catalogue h1 {
    width: fit-content;
}

@media screen and (max-width: 991px) {

    /* NAV */

    div#navbarScroll form {
        width: 75% !important;
        margin: auto !important;
    }

    div#navbarScroll ul {
        padding-left: 0 !important;
        width: 75% !important;
    }

    div#navbarScroll ul .nav-item {
        margin: 5px 0 5px 0 !important;
    }

    div#navbarScroll ul+div {
        width: 75% !important;
        flex-direction: column !important;
        margin: auto !important;
    }

    div#navbarScroll ul+div a {
        margin: 10px 0 10px 0 !important;
    }

    div#navbarScroll ul+div a:first-of-type {
        margin-right: 0 !important;
    }
}