{% extends "base.html" %}

{% block title %}

Moviefy - {{ _('Catalog') }}

{% endblock %}

{% block nav %}
    {% if nav == 1 %}
        {% include "nav.html" %}
    {% else %}
        {% include "nav_connected.html" %}
    {% endif %}
{% endblock %}

{% block content %}
<div id="catalogue" class="p-5 h-100">
    <h1 class="m-auto">{{ _('Catalog') }}</h1>

    <div class="d-flex w-50 ms-auto me-auto mt-5 h-100" role="search">
        <div class="w-25">
            <select class="form-select rounded-start rounded-end-0" name="filter_type" value="{{ filter_type }}" id="search-filter">
                <option value="1" {% if filter_type == '1' %}selected{% endif %}>{{ _('Title') }}</option>
                <option value="2" {% if filter_type == '2' %}selected{% endif %}>{{ _('Actors') }}</option>
                <option value="3" {% if filter_type == '3' %}selected{% endif %}>{{ _('Director') }}</option>
            </select>
        </div>
        <input id="search-movie" class="form-control rounded-0" type="search" value="{{ query }}" placeholder="{{ _('Looking for a movie') }}">
        <div class="w-25">
            <select class="form-select rounded-start-0 rounded-end" name="genre_type" onchange="filterGenre()" value="{{ genre_type }}" id="genre-filter">
                {% for genre in data['genres'] %}
                    <option value="{{ url_for('catalog.catalog_genre', id=genre.id) }}" {% if genre.id == id_genre %}selected{% endif %}>{{ genre.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <hr class="w-75 mt-5 m-auto">
    <div class="w-100 h-100">
        <div class="container my-4">
            <div id="results-list" class="row g-4">
                {% if data_genre %}
                    {% for data in data_genre %}
                        <div class="col-12 col-md-2">
                            <a href="/movie/{{ data.id }}" class="text-decoration-none">
                            <div class="card shadow-sm">
                            <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{ data.poster_path }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ data.title }}</h5>
                            </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/catalog.js') }}"></script>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}